/problema1/Proyecto1/nbproject/private/
/problema1/Proyecto1/build/
/problema2/Proyecto2/nbproject/private/
/problema2/Proyecto2/build/
/problema3/Proyecto3/nbproject/private/
/problema3/Proyecto3/build/
/problema4/Proyecto4/nbproject/private/
